<div class="row">
  <div class="large-12 columns">

    <h1>User Account Page</h1>

    <h4>Functionality:</h4>
    <div class="row">
      <div class="large-4 medium-4 columns">
        <div class="panel">
          <p>Profile Shit</p>
        </div>
      </div>
      <div class="large-4 medium-4 columns">
       <div class="panel">
          <%= link_to "Edit Account", edit_user_registration_path %>
        </div>
      </div>
      
    </div>

  </div>
</div>
