<ul class="example-orbit" data-orbit> 
	<li> 
		<div class="orbit-caption text-center"> Awesome Golf Pic. </div> 
		<%= image_tag("pebble_beach.jpg", width: "100%") %>
	 	
	</li>
	  <li>
	  <%= image_tag("Valderrama-Golf.jpg", width: "100%") %>
	   <div class="orbit-caption text-center"> Another Awesome Pic. </div> 
		</li>
	  <li> 
	    	<%= image_tag("Valderrama-Golf.jpg", width: "100%") %> 
	    	<div class="orbit-caption text-center"> Sweet </div> 
	 	</li> 
</ul>

