<ul class="example-orbit" data-orbit> 
	<li> 
		<div class="orbit-caption"> Awesome Golf Pic. </div> 
		<%= image_tag("Valderrama-Golf-rotate.jpg", width: "100%") %>
	 	
	</li>
	  <li>
	  <%= image_tag("pebble_beach_rotate.jpg", width: "100%") %>
	   <div class="orbit-caption"> Another Awesome Pic. </div> 
		</li>
	  <li> 
	    	<%= image_tag("andromeda-orbit.jpg", width: "100%") %> 
	    	<div class="orbit-caption"> Caption Three. </div> 
	 	</li> 
</ul>